/*General Settings*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #2F4F4F;
/*darkslategray*/   /*rgb(47, 79, 79)*/
    --secondary-color: #F5F5F5;
/*whitesmoke*/   /*rgb(245, 245, 245)*/
    --tertiary-color: #1B1A1A;  
/*charcoal*/   /*rgb(27, 26, 26)*/
}

body {
    color: #F5F5F5;
    font-family: Noto Sans, sans-serif;
    background-color: #1B1A1A;;
    margin: 0;
}

/*Header Start*/
header {
    padding: 15px 15px;
    background-color: #2F4F4F;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
header h1 {
    font-size: 16x;
    font-weight: lighter;
    padding: 10px;
}
header h1 ul {
    padding-left: 30px;
}
header h1 ul li {
    font-size: 15px;
    font-weight: lighter;
}
    /*Nav Start*/
header nav {
    margin: 9px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 9px 13px;
    font-weight: lighter;
    font-size: 24px;
    color: #F5F5F5;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-decoration: none;
}
    /*Nav End*/
/*Header End*/

/*About Me Start*/
.hero {
    background-size: cover;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
}
.about-me {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    color: #1B1A1A;
    font-size: 20px;
    line-height: 1.2;
}
.about-me h2 {

}





/*CLASS LISTS
class="hero"
class="about-me"              
    section class="projects:"
    h3:
    class="run-buddy"
    class="main-text"    
    h4:
    class="robot-gladiators"
    class="project-3"
    class="project-4"
    class="main-text"
class="contact-me"*/